* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("login.jpeg");
}
.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
            background-image: url('login.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-color: skyblue;
        }

        .container {
            margin-left: 40%;
            width: 70%;
           
            padding: 20px;
            
        }

        .form-group {
            display: flex;
            align-items: center;
        }

        .form-group label {
            flex: 1;
            margin-right: 10px;
            text-align: right;
        }

        .form-group input, .form-group select {
            flex: 2;
        }

        .remember-me {
            display: flex;
            align-items: center;
        }

        .remember-me label {
            flex: 1;
            margin-right: 10px;
        }

        .remember-me input {
            flex: 2;
        }