* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.container {
    max-width: 400px;
    padding: 20px;
    text-align: center;
    
}

h2 {
    margin-bottom: 20px;
    color: #333;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h2{
    font-weight: bold;
    font-size: 35px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}

a {
    color: #341e8f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
    background-image: url('bgimageph.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    margin-right: 60%;
    width: 70%;
   
    padding: 20px;
    
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    flex: 2;
    margin-right: 10px;
    text-align: right;
}

.form-group input, .form-group select {
    flex: 2;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    flex: 2;
    
}

.remember-me input {
    
    align-content: auto;
}
